@model IEnumerable<BanSua4CE.ViewModels.GioHangVM>


@{
    double tongTien = Model.Sum(x => x.ThanhTien);
    double giamGia = !string.IsNullOrEmpty(Context.Session.GetString("GIAMGIA"))
                     ? Convert.ToDouble(Context.Session.GetString("GIAMGIA"))
                     : 0;
    double tongTienSauGiam = !string.IsNullOrEmpty(Context.Session.GetString("TONGTIEN_SAUGIAM"))
                             ? Convert.ToDouble(Context.Session.GetString("TONGTIEN_SAUGIAM"))
                             : tongTien;
}

 <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/HETHONGVACONGNGHEWEB/lienket/css/stylecart.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/HETHONGVACONGNGHEWEB/lienket/css/style.css">


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <!-- Template Javascript -->
    <script src="~/HETHONGVACONGNGHEWEB/lienket/js/main.js"></script>

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Bảng giỏ hàng -->
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Tổng Cộng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    <img src="~/hinhanh/@item.HinhAnh" style="width: 50px;" /> @item.TenSp
                                </td>
                                <td class="align-middle">@item.DonGia.ToString("#,##") VNĐ</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                                <a asp-controller="GioHang" asp-action="GiamSoLuong" asp-route-id="@item.IdSp" class="btn btn-sm btn-primary text-white" style = "">-</a>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center" value="@item.SoLuong" readonly />
                                        <a asp-controller="GioHang" asp-action="TangSoLuong" asp-route-id="@item.IdSp" class="btn btn-sm btn-primary text-white">+</a>
                                    </div>
                                </td>
                                <td class="align-middle">@item.ThanhTien.ToString("#,##") VNĐ</td>
                                <td class="align-middle">
                                    <form method="post" action="@Url.Action("XoaGioHang", "GioHang")">
                                        <input type="hidden" name="id" value="@item.IdSp" />
                                        <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-danger">Giỏ hàng trống</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Hóa đơn -->
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Hóa Đơn</h4>
                </div>
                <div class="card-body">
                    <form class="mb-4" asp-action="ApDungMaGiamGia" asp-controller="GioHang" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control p-3" name="maCode" placeholder="Nhập mã giảm giá">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="submit">Áp dụng</button>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-between mb-2">
                        <h6>Thành Tiền</h6>
                        <h6>@tongTien.ToString("#,##") VNĐ</h6>
                    </div>
                    @if (giamGia > 0)
                    {
                        <div class="d-flex justify-content-between mb-2">
                            <h6 class="text-success">Giảm Giá</h6>
                            <h6 class="text-success">-@giamGia.ToString("#,##") VNĐ</h6>
                        </div>
                    }
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tổng Cộng</h5>
                        <h5>@tongTienSauGiam.ToString("#,##") VNĐ</h5>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <a asp-action="ThanhToan" asp-controller="GioHang" class="btn btn-block btn-primary text-white">Thanh Toán</a>
                </div>
            </div>
        </div>


      

    </div>
</div>



