@model BanSua4CE.Data.KhachHang

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKh" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
        <a asp-action="Index" class="btn btn-sm btn-warning">Trở Lại</a>
    </form>
</div>
