@model BanSua4CE.Data.DanhMuc

@{
    ViewData["Title"] = "Delete";
}


<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Dannh Mục</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDanhMuc" />
        <p>Bạn có chắc muốn xóa danh mục <strong>@Model.TenDanhMuc</strong> không?</p>
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
        <a asp-action="Index" class="btn btn-sm btn-warning">Quay Lại</a>
    </form>
</div>
