@model IEnumerable<BanSua4CE.Data.DanhMuc>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: hwb(230 6% 33%) !important;text-align: center;font-size:30px ">Danh sách danh mục</h1>

<p> 
    <a asp-action="Create" class="btn btn-sm " style="background-color: hwb(230 6% 33%) !important; color: white">Thêm Danh Mục</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Tên Danh Mục</label>
            </th>
            <th>
                <label>Trạng Thái</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdDanhMuc" class="btn btn-sm btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdDanhMuc" class="btn btn-sm btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDanhMuc" class="btn btn-sm btn-primary"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
